.c-container {
  flex: 1;
}

.c-navbar {
  background: transparent;
  border-bottom: 1px solid #ffffff50;
  z-index: 100;
}

.c-navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 14, 27, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.c-navbar-title {
  font-family: "Audiowide";
}

.c-offcanvas {
  background: transparent;
}

.c-offcanvas::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 14, 27, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.c-offcanvas-header {
  background-color: var(--base-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.c-offcanvas-title {
  color: var(--alternative-text);
  font-family: "Audiowide";
}
