/* ! Navbar */
.c-navbar {
  background: transparent;
  border-bottom: 1px solid #ffffff50;
  z-index: 100;
}

.c-navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 14, 27, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.c-navbar-title {
  font-family: "Audiowide";
  color: var(--primary-text);
}

.c-offcanvas {
  background: transparent;
}

.c-offcanvas::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 14, 27, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.c-offcanvas-header {
  background-color: var(--base-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.c-offcanvas-title {
  color: var(--primary-text);
  font-family: "Audiowide";
}

/* ! Footer */
.c-footer {
  background: transparent;
  border-top: 1px solid #ffffff50;
}

.c-footer .c-socials-icon {
  fill: var(--secondary-text);
  width: 1.5rem;
  aspect-ratio: 1;
  transition:
    fill 0.25s ease,
    transform 0.25s ease;
}

.c-footer .c-socials-icon:hover {
  fill: var(--secondary-color);
  transform: translateY(-1px) scale(1.1);
}

/* ! Spinner */
.c-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  transition: opacity 1s ease-in;
}

/* .c-spinner-wrapper {
  display: flex;
  gap: 2rem;
} */

/* .c-spinner-grow {
  color: var(--primary-color);
  height: 30px;
  width: 30px;
} */

.loader {
  display: flex;
  align-items: center;
  margin-left: -0.65em;
}

.load1 {
  position: absolute;
  content: "";
  margin-right: 1em;
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.load2 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 2s flow2 infinite;
}

.load3 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 2s flow3 infinite;
}

.load4 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 2s flow4 infinite;
}

.load5 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 2s flow5 infinite;
}

.load6 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 6s flow6 infinite;
}

.load7 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 6s flow7 infinite;
}

.load8 {
  position: absolute;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 6s flow8 infinite;
}

.load9 {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary-color);
  animation: 6s flow9 infinite;
}

@keyframes flow2 {
  50% {
    transform: translateX(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes flow3 {
  50% {
    transform: translateX(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes flow4 {
  50% {
    transform: translateY(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow5 {
  50% {
    transform: translateY(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow6 {
  30% {
    transform: translateX(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  60% {
    transform: translateX(3em) translateY(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow7 {
  30% {
    transform: translateX(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  60% {
    transform: translateX(-3em) translateY(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow8 {
  30% {
    transform: translateY(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  60% {
    transform: translateY(3em) translateX(3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow9 {
  30% {
    transform: translateY(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  60% {
    transform: translateY(-3em) translateX(-3em);
    box-shadow: 0 0 20px var(--primary-color);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}
