*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100dvh;
  width: 100%;
  font-family: var(--font-family);
  /* line-height: 1.5rem; */
  color: var(--primary-text);
  background-color: var(--base-color);
}

/* ul,
ol {
  list-style: none;
} */

a {
  text-decoration: none;
  color: var(--primary-text);
  cursor: pointer;
  transition: color 0.3s ease;
}

button {
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  filter: brightness(90%);
  transform: scale(1.1);
}

button:active {
  transform: translateY(2px);
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
} */
