/* ! Dark mode */
:root {
  --base-color: #0b0e1b;
  --alt-color: #171717;
  --primary-color: #0ee6b7;
  --secondary-color: #ffffff;
  --primary-text: #f8f8ff;
  --secondary-text: #e6e6e68c;
}

/* ! Light mode */
/* .lightmode {
  --base-color: #0b0e1b;
  --alt-color: #171717;
  --primary-color: #0ee6b7;
  --primary-text: #f8f8ff;
  --secondary-text: #e6e6e68c;
} */
