/* Variables */
:root {
  --font-family: "Space Grotesk", system-ui;
  --fs-hero-title: clamp(4rem, 8vw, 7rem);
  --fs-hero-subtitle: clamp(2.4rem, 3vw, 3rem);
  --border-radius: 15px;
}

/* External Font Families */
@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Audiowide";
  src: url("../../fonts/Audiowide/Audiowide-Regular.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
