/* Variables */
:root {
  --font-family: "Space Grotesk", system-ui;
  --font-size-hero-title: clamp(2.3rem, 4vw + 1rem, 3.5rem);
  --font-size-hero-subtitle: clamp(1.3rem, 3vw + 0.5rem, 2rem);
  --font-size-section-title: 2rem;
  --font-size-section-text: clamp(1.1rem, 1vw + 0.75rem, 1.3rem);
  --font-size-card-title: 1.4rem;
  --font-size-card-text: clamp(1rem, 1vw + 0.5rem, 1.2rem);
  --font-size-small-subtitle: 1.1rem;
  --font-size-small-text: 1.1rem;
  --border-radius: 10px;
}

/* External Font Families */
@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Audiowide";
  src: url("../../fonts/Audiowide/Audiowide-Regular.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
