/* ! Hero Section */
.c-hero-section {
  margin-top: 56px;
  height: calc(100dvh - 56px);
  position: relative;
}

.c-hero-badge {
  font-size: clamp(1.25rem, 2.2vw, 1.5rem);
  z-index: 3;
}

.c-hero-title {
  font-family: "Audiowide";
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 7rem);
  letter-spacing: 0.75rem;
  z-index: 3;
}

.c-hero-subtitle {
  text-transform: uppercase;
  font-size: clamp(2rem, 4.5vw, 3rem);
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);
  letter-spacing: 0.3rem;
  z-index: 3;
}

.c-hero-socials {
  font-size: clamp(1.25rem, 2.2vw, 1.5rem);
  color: var(--alternative-text);
  border-radius: 50%;
  border: 1px solid var(--alternative-text);
  width: clamp(2.5rem, 6vw, 3.125rem);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  line-height: 1;
  transition:
    color 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.c-hero-socials:hover {
  color: var(--base-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  transform: translateY(-1px) scale(1.1);
}

.c-hero-socials:active {
  transform: translateY(1px);
  scale: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* ! About Section */
.c-about-card {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 1px 2px #ffffff50;
}

.c-about-card .c-text {
  text-align: justify;
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
}

.c-about-card .c-data {
  font-family: "Audiowide";
  font-weight: bold;
  font-size: 3.25rem;
  line-height: 1;
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);
}

/* ! Stack */
.c-title {
  font-size: clamp(2rem, 4.5vw, 3rem);
  font-family: "Audiowide";
}

.c-text {
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
}

.c-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.c-stack-card {
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 1px 2px #ffffff50;
  overflow: hidden;
  transition: transform 0.25s ease;
}

.c-stack-card:hover {
  transform: scale(1.05);
}

.c-stack-icon {
  fill: var(--primary-color);
  height: 50px;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 20px var(--primary-color));
}

.c-stack-title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.c-stack-text {
  color: var(--secondary-text);
}

/* ! Experience */
.c-work-experience {
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 1px 2px #ffffff50;
}

.c-work-experience .c-company {
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);
}

.c-tech-badge {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.89rem;
  color: var(--primary-color);
  transition:
    font-size 0.25s ease,
    color 0.25s ease,
    background-color 0.25s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.c-tech-badge:hover {
  font-weight: bold;
  color: var(--base-color);
  background-color: var(--primary-color);
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--primary-color);
}

/* ! Media Queries */
@media (min-width: 576px) {
  .c-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .c-stack-card {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .c-stack-icon {
    height: 45px;
  }

  .c-tech-badge {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .c-stack-icon {
    height: 40px;
  }
}

@media (min-width: 992px) {
  .c-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .c-stack-card {
    padding: 1rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: start;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
