/* ! Hero Section */
.c-hero-section {
  margin-top: 56px;
  height: calc(100dvh - 56px);
  position: relative;
}

.c-hero-badge {
  font-size: clamp(1.25rem, 2.2vw, 1.5rem);
  z-index: 3;
}

.c-hero-title {
  font-family: "Audiowide";
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 7rem);
  letter-spacing: 0.5rem;
  z-index: 3;
}

.c-hero-subtitle {
  text-transform: uppercase;
  font-size: clamp(2rem, 4.5vw, 3rem);
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);
  letter-spacing: 0.3rem;
  z-index: 3;
}

.c-hero-socials {
  font-size: clamp(1.25rem, 2.2vw, 1.5rem);
  color: var(--alternative-text);
  border-radius: 50%;
  border: 1px solid var(--alternative-text);
  width: clamp(2.5rem, 6vw, 3.125rem);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  line-height: 1;
  transition:
    color 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.25s ease;
}

.c-hero-socials:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  scale: 1.1;
  transform: translateY(-1px);
}

.c-hero-socials:active {
  transform: translateY(1px);
  scale: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* ! About Section */
.c-about-card {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 1px 2px #ffffff50;
}

.c-about-card .c-title {
  font-size: clamp(2rem, 4.5vw, 3rem);
  font-family: "Audiowide";
}

.c-about-card .c-text {
  text-align: justify;
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
}

.c-about-card .c-data {
  font-weight: bold;
  font-size: 3.25rem;
  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);
}

/* ! Media Queries */
@media (max-width: 575.98) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
